:root {
  --primary-color: #FAD1E1;
  --bright-color: #E92B77;
  --bg-color: #F0F2A6;
  --dark-color: #2E0515;
}

html {
  background-color: var(--bg-color);
  background-image: radial-gradient(circle, transparent 2.5px, var(--dark-color) 2.5px, var(--dark-color) 4px, transparent 2px);
  background-size: 48px 48px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.content-block {
    /*display: grid;*/
    padding: 10px;
    margin: 15px auto;
    max-width: 700px;
    min-width: 200px;
    border: solid var(--dark-color);
    border-bottom-width: thick;
    border-right-width: thick;
    justify-content: center;
    background: var(--primary-color);
}

.header {
    text-align: center;
    display: grid;
}

.footer {
    text-align: end;
}
